body {
    font-family: "Roboto","Roboto Black", "Roboto Italic", sans-serif;
}

/* HERO AND FOOTER */
.hero,
.footer,
.header {
    background-color: #1f2937;
}

/* HERO TITLE AND HEADER LOGO */
.hero-title,
.header .logo {
    color: #f9faf8;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.link-container {
    display: flex;
    gap: 32px;
    margin-right: 48px;
}


.header .logo {
    display: flex;
    margin: 8px 48px;
    font-weight: 700;
}


/* HERO  */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 144px;
    gap: 28px
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    margin: 8px 48px;
}   

.hero-subtext {
    margin: 8px 48px;

}

.hero-image {
    margin-right: 48px;
}

/* HEADER LOGO */
.header .logo {
    font-size: 24px;
}

/* HEADER LINKS AND HERO TEXT */
.header .link,
.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* INFORMATION TITLE */
.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 48px;
    padding: 32px;
    
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    margin: 8px 48px;
    padding: 32px;
}

.info img{
    border: solid #3882F6;
    border-radius: 20px;
    font-weight: 600;
    /* margin: 8px 48px; */
}

/* CALL TO ACTION AND BUTTON SIGN UP  */
.call {
    background-color: #3882F6;
}

.sign-up {
    background-color: #3882F6;
    color:#fff;
    padding: 0.4em 2em;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    margin: 8px 48px;
}

/* QUOTE SECTION */
.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.signature {
    font-weight: 700;
}